@page "/"
@namespace Console_UserInterface.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<html>
    <head>
        

    </head>
    <body>
        <component type="typeof(Console_UserInterface.AppR)" render-mode="ServerPrerendered" />
    </body>
</html>
