@page "/user/confirmation"
@attribute [Authorize(Roles = "webuser")]
@inject MailRuService2 mailru
@inject NavigationManager nav
@inject SigninUser signin
<PageTitle>Подтверждение личности</PageTitle>
@code 
{
    public string ActivationCode { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        string code = GenerateActivationCode();
        SetActivetionCode(code);


        string email = "eckumoc@gmail.com";
        string subject = "eckumoc@gmail.com";
        string html = $"Код активации: " + code;
        await mailru.SendEmailAsync(email,subject,html);
    }
    private static int LENGTH = 8;
    public void SetActivetionCode(string code)
    {
        try
        {
            if (signin.IsSignin() == false)
                return;
            var user = signin.Verify();
            var uid = user.AccountId;
            //authdb.UserAccounts_.First(u => u.Id == uid).ActivationKey = code;
            //authdb.SaveChanges();
        }
        catch (Exception)
        {

        }
    }
    public string GetActivetionCode() {
        if (signin.IsSignin() == false)
            return null;
        return "";// authdb.UserAccounts_.First(a => a.Id == signin.Verify().Account.Id).ActivationKey;
    }
    public string GenerateActivationCode()
    {
        string code = "";
        var r = new Random();
        for(int i=0; i<LENGTH; i++)
        {
            var p = r.NextInt64(0,9).ToString();
            code += p;
        }
        return code;
    }
    string UserMessage {get; set;}
    public void OnConfirmationSuccess()
    {
        nav.NavigateTo("/user/home");
    }
    public void OnConfirmationFailed()
    {
        UserMessage = "Код активации не корректный";
    }
    public void OnSubmitActivationCode()
    {

        if (GetActivetionCode() == ActivationCode)
        {
            OnConfirmationSuccess();
        }
        else
        {
            OnConfirmationFailed();
        }
    }
}
<h3>UserConfirmation</h3>
<div class="card">
    <div class="card-header">
        Подтвердите свою линчость
        <p>Мы отправили вам на электронную почту письмо содержащее код для выполнения операции. Перейдите и введите его для продолжения.</p>
        <div class="input-group">
            <label>Код подтверждения</label>
            <input type="text" class="form-control" @oninput="(evt => { ActivationCode = evt.Value.ToString(); } )" />
        </div>
        <button class="btn btn-sm btn-primary" @onclick="(evt => { OnSubmitActivationCode(); StateHasChanged(); })"> отправить </button>
    </div>

    <div class="card-footer">
        @if (String.IsNullOrWhiteSpace(UserMessage) == false)
        {
            <div class="alert alert danger">
                @UserMessage
            </div>
        }

    </div>
</div>