@page "/user/profile"
<PageTitle>Профиль пользователя</PageTitle>

@attribute [Authorize(Roles = "webuser")]
@inject DeliveryDbContext db
@inject NavigationManager nav
@inject SigninUser signin
@code
{
    private string View { get; set; }
}
<div class="container card" style="padding: 0px; margin: 0px;">
    <div class="row" style="padding: 0px; margin: 0px;">
        <div class="col-3" style="padding: 0px; margin: 0px;">
            <div class="list-group">
                <li class="list-group-item" @onclick='(evt => { View = "UserAccount"; StateHasChanged(); })'>Аккаунт</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserPerson"; StateHasChanged(); })'>Персональная информация</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserSettings"; StateHasChanged(); })'>Настройки</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserMessages"; StateHasChanged(); })'>Сообщения</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserGroups"; StateHasChanged(); })'>Группы</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserCars"; StateHasChanged(); })'>Автомобили</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserBasket"; StateHasChanged(); })'>Корзина</li>
                <li class="list-group-item" @onclick='(evt => { View = "UserOrders"; StateHasChanged(); })'>Заказы</li>
            </div>
        </div>
        <div class="col-9" style="padding: 0px; margin: 0px;">
            @switch (View)
            {
                case "UserAccount":
                    <UserGroupsView></UserGroupsView>
                    break;
                case "UserPerson":
                    <UserPersonView></UserPersonView>
                    break;
                case "UserSettings":
                    <UserSettingsView></UserSettingsView>
                    break;
                case "UserMessages":
                    <UserMessagesView></UserMessagesView>
                    break;
                case "UserGroups":
                    <UserGroupsView></UserGroupsView>
                    break;
                case "UserCars":
                    <UserCarsView></UserCarsView>
                    break;
                case "UserBasket":
                    <UserBasketView></UserBasketView>
                    break;
                case "UserOrders":
                    <UserOrdersView></UserOrdersView>
                    break;
                default: break;
            }
        </div>
    </div>
</div> 