@page "/holder/delivery-preorder"
<div class="card">
    <div class="card-header">
        <h2>Предварительный заказ доставки товаров на склад </h2>
    </div>
    <div class="card-body">
        <b> Товары в заказе </b>
        <ul>
            <li></li>
        </ul>
        <b> Адресс </b>
        <b> Цена </b>
        <div>
            Предложения для заказа
        </div>
    </div>
    <div class="card-footer">

    </div>
</div>ыф