

    <ul class="list-group">
        @foreach (var item in ListItems)
        {
            <li class="list-group-item" style="height: 30px; padding: 0px 5px 0px 5px; margin: 0px 5px 0px 5px;">
                <Checkbox OnChange="(evt => { if(CheckedItems.Contains(item)){ CheckedItems.Remove(item); } else {CheckedItems.Add(item);} OnChanged.InvokeAsync(CheckedItems); StateHasChanged(); })" Label="@item" />
            </li>
        }
    </ul>

@code 
{

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<string> ListItems { get; set; }

    [Parameter]
    public List<string> CheckedItems { get; set; } = new();

    [Parameter]
    public EventCallback<List<string>> OnChanged { get; set; }
}
