@using Console_InputApplication
@code 
{
    [Parameter]
    public EventCallback<List<object>> OnSelect { get; set; }
    public List<object> Selected { get; set; } = new();

    [Parameter]
    public bool DataCheckable { get; set; }
    [Parameter]
    public Type DataType { get; set; }
    [Parameter]
    public IEnumerable<object> DataItems { get; set; }
    public HashSet<object> CheckedItems { get; set; } = new();

    [Parameter]
    public List<string> DisplayColumns { get; set; }  

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.DisplayColumns = this.DisplayColumns is null ? DataType.GetInputProperties().Take(5).ToList() : this.DisplayColumns;
    }

    public List<string> GetColumnsLabels()
    {
        return DataType.GetInputProperties().Select(property => DataType.GetPropertyLabel(property)).ToList();
    }

    public List<string> GetColumnsLabels(params string[] properties)
    {
        return properties.Select(property => DataType.GetPropertyLabel(property)).ToList();
    }
}
@if(DataItems is null || DataItems.Count()==0)
{
    <div class="alert alert-info">Нет данных</div>
}
else
{
    <table class="table table-bordered table-borderless table-hover">
        <thead>
            <tr class="bg-dank text-white">
                @if(DataCheckable)
                {
                    <th style="width: 50px;"></th>
                }
                @foreach (string DisplayColumn in GetColumnsLabels(DisplayColumns.ToArray()))
                {
                    <td>@DisplayColumn</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(object Item in DataItems)
            {
                <tr class="@(Selected.Contains(Item)? "table-dark": "")" @onclick="(evt => { if(Selected.Contains(Item))Selected.Remove(Item);else Selected.Add(Item); OnSelect.InvokeAsync(Selected).Wait(); StateHasChanged(); })">
                    @if (DataCheckable)
                    {
                        <td style="width: 50px;"><CheckBox Checked="@CheckedItems.Contains(Item)" OnChange="(evt => { if(CheckedItems.Contains(Item))CheckedItems.Remove(Item); else CheckedItems.Add(Item); StateHasChanged(); })"></CheckBox></td>
                    }
                    @foreach(string DisplayColumn in DisplayColumns)
                    {
                        <td>@Item.GetValue(DisplayColumn)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}