@page "/"
@using MarketerWeb.Authorization;
@inject AuthStateProvider auth
@code{
    public async Task OnLoginClicked()
    {
        await auth.LoginAsync();
        StateHasChanged();
    }
}
<AuthorizeView Roles="admin">
    Administration 1,23,
</AuthorizeView>
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-sm btn-primary" @onclick="@OnLoginClicked">login</button>
<SurveyPrompt Title="How is Blazor working for you?" />
