@page "/customer/statistics"
<h3>Статистика спроса</h3>

<table>
    <tr>
        <th>#</th>
        <th>Товар</th>
        <th>Коэффициент</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>   
</table>
@code 
{

}
