@page "/developer/select-service-action"
@inject IServiceProvider services
<h3>SelectServiceAction</h3>
<button @onclick="GoTo">home</button>
 
@inject NavigationManager navigation

@code {
    public void GoTo()
    {
        navigation.NavigateTo("/", true);
    }
}
