@inherits BaseComponent
@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(Options is null)
        {
            Options = new();
        }
    }
}
 
<div class="input-group d-flex flex-column" style="width: 480px;">
    <label>@Label</label>
    <select class="form-control" style="width: 100%;" @onchange="(evt => { OnChange.InvokeAsync( evt.Value.ToString()); StateHasChanged(); } )" value="@Value">
        @if(Options is not null)
        {
            @foreach (var option in Options)
            {
                <option>@option</option>
            }
        }
    </select>    
</div>
@code
{
    [Parameter]
    public string Label { get; set; } = "Выберите";
    [Parameter]
    public string Value { get; set; } = "Не выбрано";
    [Parameter]
    public List<string> Options { get; set; } = new();
    [Parameter]
    public EventCallback<string> OnChange { get; set; }
}