@inherits BaseComponent
@code
{
    [InputSelect("white,dark,info,warn,success,danger,warning,primary,secondary")]
    [Parameter]
    public string Color { get; set; } = "dark";

    [InputSelect("white,dark,info,warn,success,danger,warning,primary,secondary")]
    [Parameter]
    public string Background { get; set; } = "white";

    [InputSelect("start,end,center")]
    [Parameter]
    public string Align { get; set; } = "start";

    [InputNumber]
    [InputPositiveInt]
    [Parameter]
    public int FontSize { get; set; } = 12;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
<div class="text text-@(Color)">@ChildContent</div>
