@*
    @if (IsSignin && signin.IsInRole("holder"))
    {

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/public/create-product">
                <span class="oi oi-browser" aria-hidden="true"></span> Новый продукт
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/public/product-holders">
                <span class="oi oi-ban" aria-hidden="true"></span> Склады
            </NavLink>
        </div>
    }
*@
@inject AppBuilder builder
@inherits BaseComponent
@code
{
    public Dictionary<string, string> MenuModel { get; set; }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
        this.MenuModel = builder.CreateNavMenu<HolderMenu>();
    }
}
<NavModel Model="@MenuModel"></NavModel>