@inherits Console_UserInterface.Shared.BaseComponent
<h3>ModalDialog</h3>
<button @onclick="@OnClicked">ok</button>
@code {
    public void OnClicked()
    {
        //this.Eval<string>(" return document.title; ").Wait();
    }
}
