@inherits BaseComponent
@code
{
    [Parameter]
    [InputSelect("info,warn,success,danger,warning,primary,secondary,black,white")]
    public string Color { get; set; } = "info";

    [Parameter]
    [InputSelect("info,white,warn,success,danger,warning,primary,secondary")]
    public string Background { get; set; } = "white";

    [Parameter]
    [InputSelect("left,center,right")]
    public string Align { get; set; } = "left";

    [Parameter]
    [InputNumber]
    [InputPositiveInt]
    public int FontSize { get; set; } = 12;

    [Parameter]
    [InputText]
    public string TextContent { get; set; } = "";

}
<div class="text text-@(Color) text-@(Align) bg-@(Background)" style="font-size: @(FontSize+"px")">@(TextContent) @ChildContent</div>
