@inject AppBuilder builder
@inject SigninUser signin
@inherits BaseComponent
@code
{
    public Dictionary<string, string> MenuModel { get; set; }
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
        this.MenuModel = builder.CreateNavMenu<AppMenuView>();
    }
    bool IsSignin = false;
}
<NavModel Model="@MenuModel"></NavModel>
 @if (IsSignin && signin.IsInRole("transport"))
{
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/holder/holders">
            <span class="oi oi-browser" aria-hidden="true"></span> ПВЗ
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/public/product-holders">
            <span class="oi oi-browser" aria-hidden="true"></span> Склады
        </NavLink>
    </div>
}