@page "/app/routing"
@inject AppRouterMiddleware router
<CardContainer>
    <CardHeader>
        <h3>Зарегистрированные маршруты</h3>
    </CardHeader>
    <CardBody>
        <ul class="list-group">
            @foreach (var kv in router.routing)
            {
                <li class="list-group-item">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@kv.Key">
                            <span class="oi oi-account-login" aria-hidden="true"></span> @kv.Value
                        </NavLink>
                    </div>
                </li>
            }
        </ul>
    </CardBody>
    <CardFooter></CardFooter>
</CardContainer>
