@page "/customer/statistics"
@attribute [Label("Статистика")]
@attribute [Authorize(Roles = "customer")]
@inherits BaseComponent
<PageTitle>Статистика продаж</PageTitle>
<table>
    <tr>
        <th>#</th>
        <th>Товар</th>
        <th>Коэффициент</th>
    </tr>
    <tr>
        @for (int i = 1; i <= Model.Count(); i++)
        {
            var pModel = Model.ToList()[i - 1];

            <th>@i</th>
            <th>@pModel.Key</th>
            <th>@pModel.Value</th>
        }                
    </tr>   
</table>
@code 
{
    [Parameter]
    [NotNullNotEmpty]
    public Dictionary<string, int> Model { get; set; }
}
