@*
    Догмашняя страница клиента соодержит наиболее актулаьные предложения учитывая маркетинговыее данные продаж клиентуц.
*@
@page "/customer/home"
<p>Домашняя страница</p>
@code
{
    public List<Product> Products { get; set; } = new()
    {
         
    };
}
<div class="card d-flex flex-column flex-nowrap">
    <h2>Популярные товары</h2>
    <div class="d-flex flex-row flex-wrap">
        @foreach (var product in Products)
        {
            <span class="card" style="width: 300px; height: 300px">
                <ProductCard Item="@(product)"></ProductCard>
            </span>
        }
            

    </div>          
</div>
@code 
{

}