@*
    Догмашняя страница клиента соодержит наиболее актулаьные предложения учитывая маркетинговыее данные продаж клиентуц.
*@
@page "/customer/home"

<div class="card d-flex flex-row flex-nowrap">
    <h2>Популярные товары</h2>
    <div>

        <span class="card" style="width: 300px; height: 300px">
        </span>

        <span class="card" style="width: 300px; height: 300px">
        </span>

        <span class="card" style="width: 300px; height: 300px">
        </span>       

    </div>


    <h2>Последние операции</h2>
    <div>

        <span class="card" style="width: 300px; height: 300px">
        </span>

        <span class="card" style="width: 300px; height: 300px">
        </span>

        <span class="card" style="width: 300px; height: 300px">
        </span>

    </div>
     
</div>
@code 
{

}
