@page "/user/info"
<div class="list-group-item">
    <div class="input-group">
        <label> Имя </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
    <div class="input-group">
        <label> Фамилия </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
    <div class="input-group">
        <label> Отчество </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
    <div class="input-group">
        <label> Дата рождения </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
    <div class="input-group">
        <label> Номер телефона </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
    <div class="input-group">
        <label> Фото </label>
        <input type="text" style="width: 100%;" class="form-control" />
    </div>
</div>

@code 
{

}
