@typeparam TItem

<div class="panel panel-primary">


    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>...</p>
    </div>
    <table class="table" style="height: 640px; overflow-y: auto; position: fixed;">
        <thead>
            <tr>
                @if (Columns is null)
                {
                    foreach (var name in typeof(TItem).GetOwnPropertyNames())
                    {
                        <th scope="col">@name</th>
                    }
                }
                else
                {
                    foreach (var name in Columns)
                    {
                        <th scope="col">@name</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @if (Items is not null ) foreach(var item in Items)
            {
                <tr>            
                    @if (Columns is null ) 
                    {
                        foreach (var name in item.GetOwnPropertyNames())
                        {
                            <td>@item.GetValue(name)</td>
                        }        
                    }
                    else
                    {
                        foreach (var name in Columns)
                        {
                            <td>@item.GetValue(name)</td>
                        }
                    }
            
                </tr>
            }
        </tbody>
    </table>
     

</div>
@code 
{
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }
    [Parameter]
    public IEnumerable<string> Columns { get; set; }
}
