@using MarketerWeb.Authorization;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <i class="navbar-toggler-icon" @onclick="(async evt => { await OnOpenedMenu.InvokeAsync(Opened = !Opened); StateHasChanged(); })">
                @Title
            </i>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@inject NavigationManager nav
@inject SigninUser signin 

@code
{
    [Parameter]
    public bool Opened { get; set; } = true;
    public string Title { get; set; } = "ЕвроАвто";

    [Parameter]
    public EventCallback<bool> OnOpenedMenu { get; set; }

    public bool is_signin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        nav.LocationChanged += (sender, evt) =>
        {
            this.is_signin = signin.IsSignin();
            if (is_signin)
            {
                try
                {
                    signin.UpdateUrlLocation(nav.Uri);
                }
                catch(Exception ex)
                {
                    this.Error("Ошибка обновления URL: "+ ex.Message);
                }

            }
            StateHasChanged();
        };
    }

}
@*token
<button @onclick="(evt => {  provider.Set(DateTime.Now.ToString()); token = provider.Get(); StateHasChanged(); })">set</button>*@
<div class="@(Opened?"collapse":"")" @onclick="ToggleNavMenu">
    @if (Opened)
    {
        <nav class="flex-column">
            @if (is_signin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/profile">
                        <span class="oi oi-browser" aria-hidden="true"></span> Профиль
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/groups">
                        <span class="oi oi-browser" aria-hidden="true"></span> Группы
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/public/holder-products">
                        <span class="oi oi-browser" aria-hidden="true"></span> Склады
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/settings">
                        <span class="oi oi-browser" aria-hidden="true"></span> Настройки
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/messages">
                        <span class="oi oi-browser" aria-hidden="true"></span> Сообщения
                    </NavLink>
                </div>
    
                <AuthorizeView Roles="customer">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/search-products">
                            <span class="oi oi-browser" aria-hidden="true"></span> Товары
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/user/orders">
                            <span class="oi oi-basket" aria-hidden="true"></span> Заказы
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/user/basket">
                            <span class="oi oi-basket" aria-hidden="true"></span> Корзина
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="C">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/create-product">
                            <span class="oi oi-browser" aria-hidden="true"></span> Новый продукт
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/holder-products">
                            <span class="oi oi-browser" aria-hidden="true"></span> Подразделения
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/product-holders">
                            <span class="oi oi-ban" aria-hidden="true"></span> Склады
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="transport">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/available-list">
                            <span class="oi oi-browser" aria-hidden="true"></span> Заказы на доставку
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/active-list">
                            <span class="oi oi-browser" aria-hidden="true"></span> Активные заказы
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/completed-list">
                            <span class="oi oi-browser" aria-hidden="true"></span> Выполнение заказы
                        </NavLink>
                    </div>
                </AuthorizeView>                                    
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Выход
                    </NavLink>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signup">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Регистрация
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signin">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Вход
                    </NavLink>
                </div>
            }
        </nav>
    }
    else
    {
        <nav class="flex-column">
            @if (is_signin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/profile">
                        <span class="oi oi-browser" aria-hidden="true"></span> 
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/messages">
                        <span class="oi oi-browser" aria-hidden="true"></span> 
                    </NavLink>
                </div>

                <AuthorizeView Roles="customer">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/search-products">
                            <span class="oi oi-browser" aria-hidden="true"></span> 
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/user/orders">
                            <span class="oi oi-basket" aria-hidden="true"></span> 
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/user/basket">
                            <span class="oi oi-basket" aria-hidden="true"></span> 
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="holder">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/create-product">
                            <span class="oi oi-browser" aria-hidden="true"></span>  
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/holder-products">
                            <span class="oi oi-browser" aria-hidden="true"></span> 
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/public/product-holders">
                            <span class="oi oi-ban" aria-hidden="true"></span> 
                        </NavLink>
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="transport">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/available-list">
                            <span class="oi oi-browser" aria-hidden="true"></span>  
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/active-list">
                            <span class="oi oi-browser" aria-hidden="true"></span>  
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/transport/completed-list">
                            <span class="oi oi-browser" aria-hidden="true"></span>  
                        </NavLink>
                    </div>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> 
                    </NavLink>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signup">
                        <span class="oi oi-account-login" aria-hidden="true"></span> 
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/user/signin">
                        <span class="oi oi-account-login" aria-hidden="true"></span> 
                    </NavLink>
                </div>
            }
        </nav>
    }
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Console_Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@