<div class="input-group">
    <label>@Label</label>
    <select class="form-control" @onchange="(evt => { OnChange.InvokeAsync( evt.Value.ToString()); StateHasChanged(); } )" value="@Value">
        @foreach (var option in Options)
        {
            <option>@option</option>
        }
    </select>
</div>
@code
{
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public List<string> Options { get; set; }
    [Parameter]
    public EventCallback<string> OnChange { get; set; }
}