@inherits BaseComponent
@code
{
    //[SelectControl("info,warn,success,danger,warning,primary,secondary")]
    public string Color { get; set; }

    //[SelectControl("info,warn,success,danger,warning,primary,secondary")]
    public string Background { get; set; }

    //[SelectControl("start,end,center")]
    public string Align { get; set; }

    [InputNumber]
    [InputPositiveInt]   
    public string FontSize { get; set; }

}
<div class="text text-@(Color)">@ChildContent</div>
