@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar" style="overflow-y: auto;">
        <NavMenu></NavMenu>
    </div>

    <main>

        <div style="position: fixed;" class="card">
            <UserNotifications></UserNotifications>
        </div>
        <div class="top-row px-4">            
            <BreadcrumbView links="@links"></BreadcrumbView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    Dictionary<string, string> links = new Dictionary<string, string>()
    {
        { "Заказы","/user/orders" },
        { "Выход","/user/signout" },
    };
}