@inherits LayoutComponentBase
@inject SigninUser signin
<style>
    .dark a
    {
        background-color: black;          
        color: white;
    }
</style>
<div class="page">
    <div class="sidebar" style="overflow-y: auto;">
        <NavMenu></NavMenu>
    </div>

    <main class="@( signin.IsSignin()? signin.Verify().Settings.ColorTheme: "dark" )">
        @if(signin.IsSignin())
        {
            <p>@signin.Verify().Settings.ColorTheme</p>
        }
        
        <div style="position: fixed;" class="card">
            <GeoPositionUpdater></GeoPositionUpdater>
            <UserNotifications></UserNotifications>
            <LocalStorageAuth></LocalStorageAuth>
        </div>
        <div class="top-row px-4">            
            <BreadcrumbView links="@links"></BreadcrumbView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    Dictionary<string, string> links = new Dictionary<string, string>()
    {
        { "Заказы","/user/orders" },
        { "Выход","/user/signout" },
    };
}