@inherits BaseComponent
<h3>TextComponent</h3>

@code {
    [Parameter] public string TextContent { get; set; }
    [Parameter] public string Color { get; set; }
    [Parameter] public string Align { get; set; }
    [Parameter] public string FontSize { get; set; }
    [Parameter] public string Background { get; set; }

}
