@page "/user/group/{GroupId:int}"
@inject SigninUser signin
@inject UserGroupsService groupsService
<SearchListCard TItem="UserGroupMessage" Items="Messages">
    <CardHeader>
        <h3>Сообщения в группе</h3>
        
    </CardHeader>
    <Template>
        @this
    </Template>
    <CardFooter>
        <CreateMessage OnComplete="(evt => OnGroupMessageCompleted((UserGroupMessage)evt))"></CreateMessage>
    </CardFooter>
</SearchListCard>

@code 
{
    [Parameter]
    public int GroupId { get; set; }
    public List<UserGroupMessage> Messages { get; set; } = new List<UserGroupMessage>();
    public int Page { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Messages = groupsService.GetGroupMessages(GroupId, Page, 10);
    }


    public void OnGroupMessageCompleted(UserGroupMessage message)
    {
        var userId = signin.Verify().Id;


        groupsService.PublishIntoGroup(userId, GroupId, message);
    }
}
