
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: @(CurrentValue)%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">@StatusName</div>
</div
@code 
{
    [Parameter]
    public string StatusName { get; set; }

    [Parameter]
    public int CurrentValue { get; set; }
}
