@using static MainMenuBuilder;
<div class="card w-100">
    <MenuItemView Model="Model"></MenuItemView>
    @ChildContent
</div>

@code
{
    [Parameter]
    public List<MenuItemModel> Model { get; set; } = new();

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
